/Determining_the_Convexity_of_any_Polygon.aux
/Determining_the_Convexity_of_any_Polygon.fdb_latexmk
/Determining_the_Convexity_of_any_Polygon.fls
/Determining_the_Convexity_of_any_Polygon.log
/Determining_the_Convexity_of_any_Polygon.synctex.gz